@import 'src/app/page.module.scss';

.testimonials_background {
  background-image: linear-gradient(13deg, rgba(115, 42, 155, 0.1) 0%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 100%);;
}

.testimonials_container {
  @include main_container;
  font-family: inherit;
  @include flex(column, center, center);

  h2 {
    @include H2;
    margin-bottom: 0;
  }
}

.testimonials_description {
  color: var(--Base-600);
  @include Regular_16;
  text-align: center;
  margin: 2rem 0 3rem;
  max-width: 25rem;
}

.avatars_container {
  @include flex(row, center, center);
  gap: 2rem;
  margin: 2rem 0;

  button {
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
    background: none;
  }
}
