@import 'src/app/page.module.scss';

.icon_btn {
  @include button;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 1.5px solid var(--Neutral-200);
  color: var(--Secondary-500);
  background-color: transparent;
  padding: 0;

  &:hover, &:focus {
    color: var(--Secondary-700);
    border-color: var(--Secondary-100);
  }

  &:focus {
    background-color: var(--Secondary-600-transparent-2);
  }

  &:active {
    background-color: var(--Secondary-300);
    color: var(--Base-0);
    border-color: var(--Secondary-100);

  }

}



