@import 'src/app/page.module.scss';

.background_container {
  background-image: url('../../../public/Backgroundimage.png'),
  linear-gradient(13deg, rgba(115, 42, 155, 0.1) 0%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 100%);
  background-repeat: no-repeat;
  background-position: right top;
  position: relative;
  min-height: 46rem;
  @media (max-width: 768px) {
    min-height: 55rem;
    background-position: center bottom;
    background-image: url('../../../public/Backgroundimage-mobile.png'),
    radial-gradient(circle,rgba(243, 243, 255, 1) 60%, rgba(255, 255, 255, 1) 100%);

    //background-color: #F3F3FF;
  }
}

.main_container {
  @include main_container;
  @include flex(row, start, center);
  font-family: inherit;
  gap: 3rem;
  padding: 8rem 0;

  div:first-child {
    max-width: 34rem;
    @media (max-width: 768px) {
      @include flex(column, start, center);
      max-width: 20rem;
    }
  }

  h1 {
    @include H1;
  }

  .description {
    @include Regular_20;
    max-width: 26rem;
    color: var(--Base-1000);
  }

  @media (max-width: 768px) {
    @include flex(column, start, center);
    padding: 2rem 0;
  }
}

.statistics_container {
  @include flex(row, start, center, nowrap);
  margin-top: 4rem;
}

.card {
  position: absolute;
  top: 100px;
  right: 450px;
  @media (max-width: 1300px) {
    top: 100px;
    right: 20px;
  }
  @media (max-width: 1300px) {
    top: 350px;
    right: 20px;
  }
  @media (max-width: 768px) {
    top: 650px;
    right: 230px;
  }
}