@import 'src/app/page.module.scss';

.header_border {
  border-bottom: 1.5px solid var(--Base-200);
}

.header_container {
  @include flex(row, space-between, center);
  @include main_container;
  padding: 2rem;
  position: relative;

  .desktop_buttons {
    @include flex(row, space-between, center);
    gap: 1rem;

    @media (max-width: 768px) {
      display: none;
    }
  }
}

.desktop_nav {
  @media (max-width: 768px) {
    display: none;
  }
}

//burger menu
.burger {
  width: 24px;
  height: 18px;
  position: relative;
  display: none;
  cursor: pointer;
  z-index: 10;

  @media (max-width: 768px) {
    display: block;
  }

  span {
    position: absolute;
    height: 2px;
    width: 100%;
    background: black;
    left: 0;
    transition: all 0.3s ease;
  }

  span:nth-child(1) {
    top: 0;
  }

  span:nth-child(2) {
    top: 8px;
  }

  span:nth-child(3) {
    top: 16px;
  }

  &.open span:nth-child(1) {
    top: 8px;
    transform: rotate(45deg);
  }

  &.open span:nth-child(2) {
    top: 8px;
    transform: rotate(-45deg);
  }
}

.mobile_menu {
  display: none;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
  backdrop-filter: blur(12px);
  background-color: rgba(255, 255, 255, 0.6);
  border-top: 1px solid var(--Base-200);
  height: 100%;

  @media (max-width: 768px) {
    display: flex;
  }
}

.mobile_buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
