@import 'src/app/page.module.scss';

@mixin text {
  max-width: 34rem;
  text-align: center;
}

.tabs_container {
  font-family: inherit;
  @include main_container;
  @include flex(column, center, center);
  margin: 3rem auto;
}

.content_container {
  @include flex(column, center, center);

  h2 {
    @include H2;
    @include text

  }

  .description {
    @include Regular_16;
    color: var(--Base-600);
    @include text;
  }

}

.card_container {
  @include flex(row, center, center);
  margin-top: 3rem;
  gap: 2rem;

}

.embla__container {
  left: 0;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  @media (max-width: 900px) {
    width: 700px;
  }
  @media (max-width: 768px) {
    width: 400px;
  }
}

.embla__slide {
  flex: 0 0 33.33%;
  min-width: 0;
  user-select: none;

  @media (max-width: 900px) {
    flex: 0 0 50%;
  }

  @media (max-width: 768px) {
    flex: 0 0 90%;
  }
}