@import 'src/app/page.module.scss';

@mixin text {
  max-width: 34rem;
  text-align: center;
}

.tabs_container {
  font-family: inherit;
  @include main_container;
  @include flex(column, center, center);
  margin: 3rem auto

}

.content_container {
  @include flex(column, center, center);

  h2 {
    @include H2;
    @include text

  }

  .description {
    @include Regular_16;
    color: var(--Base-600);
    @include text;
    margin: 0 auto;
  }
}

.card_container {
  @include flex(row, center, center);
  margin-top: 3rem;
  gap: 2rem
}